.example-card {
  max-width: 400px;
}
.ng-star-inserted{
  display: flex;
  justify-content: center;
}
.centerFlex{
  margin-top: 100px;
  max-width: 400px;
  }

  .example-header-image {
    background-size: cover;
  }
.example-header-image {
  background-size: cover;
}
